.task{
    background-color: #fbfbfb;
    padding: 10px;
    margin: 5px 0;
    box-shadow: 1px 1px 3px rgba(0,0,0,.15);
    cursor: move;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.task span.name{
    width: calc(100% - 15px);
    display: inline-block;
}

.task .remove{
    display: inline-block;
    float: right;
    color: #c7c7c7;
    transition: .2s all ease;
    cursor: pointer;
}

.task .remove:hover{
    color: #616161;
}