.task{
    background-color: #fbfbfb;
    padding: 10px;
    margin: 5px 0;
    box-shadow: 1px 1px 3px rgba(0,0,0,.15);
    cursor: move;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}